

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FCF1E1;
    font-family: "Sitka Display";
}

/* CSS PARA NAV BAR */

.icons{
	position: absolute;
	right: 10%;
	color: #fff;
	font-size: 28px;
	cursor: pointer;
	display: none;
}

.space-navbar{
    position: fixed;
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    width: 100%;
    background: rgba(0, 0, 0, 0.459);
    backdrop-filter: blur(5px);
    z-index: 999;
}

#check{
	display: none;
}


.nav-item{
    margin: 50px;
    padding: 10px;
    color: #F5BA41;
    transition: color 0.5s ease;
    font-size: 20px;
    font-weight: bold;
    z-index: 999;
}

.nav-item:hover{
    color: #fffcf7;
}

.logo img{
    width: auto;
    height: 30px;
    border-radius: 3px;
}



/* CSS SEARCH Y PORTADA */

.search-recipe{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #2F2F2F;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    padding: 15px;
    width: 500px;
    border-radius: 15px;
}

#search{
    border-radius: 10px;
    border: 3px solid #F5BA41;
    width: 65%;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
}

#btn-search{
    background-color: #F5BA41;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px; 
}

.image{
    background-image: url(imagenes/portada.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
}

/* CSS PARA LAS POST CARD */

.results{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
}

.results-card{
    background-color: #fffef6;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.results-card:hover{
    transform: scale(1.05);
    transition: transform .5s ease;
}

.results-card img{
    width: 200px;
    height: 100%;
    border-radius: 15px;
    align-self: center;
}

.results-card a{
    font-size: 18px;
    margin: 0;
    padding: 10px;
    text-align: center;
    color: black;
    text-decoration: underline;
    font-weight: 700;
}


/* CSS PARA RECETAS DESTACADAS */

.featured{
    background-color: #a0793f;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 65%;
    margin-top: 30px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
}

.featured h1{
    text-align: center;
    margin-top: 0;
    color: white;
}

.feat-recipe{
    border: 1px solid rgb(102, 102, 102);
    background-color: #FCF1E1;
    display: flex;
    height: 150px;
    border-radius: 10px;
    padding: 10px;
    margin: 3px;
}

.feat-desc{
    margin-left: 20px;
}

.feat-desc a{
    color: black;
    font-size: 40px;
    padding: 0;
    text-decoration: underline;
}

.feat-desc p{
    padding: 2px;
}

.feat-recipe img{
    width: 200px;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 2px 3px;
}

footer{
    background-color: #364652;
    height: 200px;
    text-align: center;
    margin-top: 20px;
}

footer h2, h3{
    padding-top: 10px;
    margin: 10px;
    color: white;
}

@media (max-width: 1000px) {
    .feat-desc a{
        font-size: 30px;
    }
}


@media (max-width: 880px) {
    .icons{
        display: inline-flex;
    }
    #check:checked~.icons #menu-icon {
        display: none;
    }
    .icons #close-icon {
        display: none;
    }
    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar{
		position: absolute;
		top: 100%;
		left: 0;
		height: 0;
		width: 100%;		
		transition: .2s ease-in-out;
		overflow: hidden;
		background-color:#F5BA41;
	}
    #check:checked~.navbar{
		height: 200px;
	}
    .navbar a{
		display: block;
		font-size: 20px;
		margin: 0;
		text-align: center;
        color: black;
        margin-top: 3px;
	}

    .feat-recipe{
        height: 180px;
        margin: 5px;
    }
    .featured{
        align-items: center;
        width: 90%;
        padding: 10px;
    }
    .feat-desc{
        font-size: 18px;
    }
    .feat-desc a{
        font-weight: 800;
    }
    .search-recipe{
        width: 80%;
    }
    .search-recipe::placeholder{
        font-size: 10px;
    }
}

@media (max-width: 768px){
    .featured{
        align-items: center;
        width: 90%;
        padding: 10px;
    }
    .feat-desc{
        height: fit-content;
        width: 100%;
    }

}

@media (max-width: 680px){
    .feat-recipe{
        height: 160px;
    }
    .feat-desc a{
        font-size: 24px;
        padding: 0;
    }
    .feat-desc p{
        line-height: 15px;
    }
    .feat-recipe img{
        width: 160px;
    }
    .results-card{
        width: 200px;
    }
    footer h2, h3{
        font-size: 16px;
    }
}

@media (max-width: 500px){
    .space-navbar{
        height: 50px;
    }
    .image{
        height: 250px;
    }
    .featured {
        width: 80%;
    }

    .feat-recipe {
        height: 220px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 90%;
    }

    .feat-recipe img {
        width: 80%;
        height: 80%;
        margin-bottom: 10px;
    }

    .feat-desc a {
        text-align: center;
        font-size: 18px;
        padding: 0;
    } 
    .feat-desc p {
        display: none;
    }
    .results-card{
        width: 40%;
    }
    .results-card img{
        width: 90%;
    }
}

@media (max-width: 375px){
    .logo img{
        width: 140px;
    }
    .results-card{
        width: 80%;
    }
    .feat-recipe img{
        width: 100%;
    }
    .feat-desc{
        margin: 0;
    }
    #search{
        width: 90%;
        margin: 10px;
    }
    #btn-search{
        width: 40%;
        font-size: 14px;
    }
    footer h2, h3{
        font-size: 14px;
    }
} 






/* colores
#F6AE2D AMARILLITO
#F26419 NARANJA
#FCF1E1 CREMITA
#364652 GRIS AZUL
#6F1A07 BORDO
#2F2F2F GRIS OSCURO
#554640 MARRON
#664C43 MARRON MAS CLARITO
*/